{% extends "layout.html" %}
{% block body %}
<div class="pageTitle" style="margin-bottom: 30px;" >
    <H1>{{ pageTitle }}</H1>
    <div class="btn-group btn-group-xs">
        <a class="btn btn-default" href="{{ request.path+'/edit' }}" role="button" >
            <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ request.path+'/history' }}">
                <span class="glyphicon glyphicon-list"></span> History
            </a></li>
            <li><a href="{{ request.path+'/rename' }}">
                <span class="glyphicon glyphicon-font"></span> Rename
            </a></li>
            <li><a data-toggle="modal" href="#deleteModal">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </a></li>
        </ul>
    </div>
    <div style="float:right;margin-left:3px;" class="text-muted">{{ updateTime }}</div>
    <div style="clear: both;"></div>
    <!-- <hr style="margin-top: 5px;"> -->
</div>

<!-- モーダルの設定 -->
<!-- DeleteModal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span></button>
        <h4 class="modal-title" id="deleteModalLabel">ページの削除</h4>
      </div>
      <div class="modal-body">
        <p>このページを削除してもよろしいでしょうか?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a class="btn btn-danger" href="{{ request.path+'/delete' }}" >Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% if toc %}
<div class="alert alert-info toc" style="float:right;margin-left:3px">{{ toc|safe }}</div>
{% endif %}
{{ content|safe }}
{% endblock %}

