{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('diffView', name=request.path[:-8]) }}" method="post" class="diff-view">
    <fieldset>
        <legend>History</legend>
        <button type="submit" class="btn btn-primary">Diff</button>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Comment</th>
                    <th>Autor</th>
                    <th>SHA-1</th>
                </tr>
            </thead>
            <tbody>
            {% for commit in commits %}
            <tr>
                <td><input type="checkbox" name="sha-1" value="{{ commit['hexsha'] }}"></td>
                {% set commit_date =  commit['authored_date'] - commit['author_tz_offset'] %}
                <td>{{commit_date | datetime('%Y/%m/%d %H:%M') }}</td>
                <td>{{ commit['message'] }}</td>
                <td>{{ commit['author'] }}</td>
                <td>{{ commit['hexsha'][:6] }}</td>
            </tr>
            {% else %}
            <tr>
                <td>No history.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>
</form>
{% endblock %}


