<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html lang="ja">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>PyGWi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/github.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv-printshiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <style type="text/css">
    <!--
    img { max-width: 100%; }
    div.toc ul { padding-left: 20px; }
    .check-list { list-style-type: none; padding-left: 20px; }
    h1 { border-bottom: solid 2px #DEDEDE; padding-bottom: .3em; }
    h2 { border-bottom: dotted 1px #DEDEDE; padding-bottom: .3em; }
    .pull-right { margin-left: 5px; }
    -->
    </style>
</head>
<body>
{% include "navibar.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% block body %}{% endblock %}
        </div>
        <div class="col-md-3">
            {% include "pagelist.html" %}
            {% include "recentUpdates.html" %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload.js')}}"></script>
</body>
</html>
