<!-- Site map -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Page List
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                {% for page in pageList %}
                <li><a href="{{ page }}">{{ page }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Site map -->

