<div class="accordion" id="pageList">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Page List
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner" >
                {% for page in pageList %}
                <li><a href="/{{ page }}">{{ page }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
