<div class="panel-group" id="resentUpdates">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Recent updates
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body" >
                <ul style="padding-left: 20px;">
                    {% for i in updateList %}
                    {% if loop.index > 10 %}
                    {% break %}
                    {% endif %}
                    {% set commit = i %}
                    <li>{{ commit['date'] }}<br> {{ commit['message'] }} by {{ commit['author'] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
