<div class="panel-group" id="resentUpdates">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Recent updates <span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body" >
                <ul style="padding-left: 20px;">
                    {% for commit in updateList %}
                    {% if loop.index > 10 %}
                    {% break %}
                    {% endif %}
                    {% set commit_date =  commit['authored_date'] - commit['author_tz_offset'] %}
                    <li>{{commit_date | datetime('%Y/%m/%d %H:%M') }}<br>
                    <a href="/{{ commit['filename'] }}">{{ commit['filename'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
