<div class="accordion" id="resentUpdates">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Recent updates
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner" >
                <ul style="list-style-position: outside">
                    {% for i in range(10) %}
                    {% set commit = updateList[i] %}
                    <li>{{ commit['date'] }}<br> {{ commit['message'] }} by {{ commit['author'] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
